DB_URL=jdbc:postgresql://db:5432/lyceum-db
DB_USER=postgres
DB_PASSWORD=deltaq123

POSTGRES_USER=postgres
POSTGRES_PASSWORD=deltaq123
POSTGRES_DB=lyceum-db

AWS_S3_REGION=us-east
AWS_S3_BUCKET=flyceum
AWS_ACCESS_KEY=jugmnuhfm3jrgjafn52fcdalp64q
AWS_SECRET_KEY=jyb43i5eq3ynxu3zsrw5r7v2no6jfsuz2ggqi2iaiacaqp7qmkcdg
AWS_S3_ENDPOINT_URL=https://gateway.storj.io

OLLAMA_MODEL=qwen2.5:1.5b