DB_URL=jdbc:postgresql://db:5432/lyceum-db
DB_USER=postgres
DB_PASSWORD=deltaq123

POSTGRES_USER=postgres
POSTGRES_PASSWORD=deltaq123
POSTGRES_DB=lyceum-db

AWS_S3_REGION=us-east-1
AWS_S3_BUCKET=lyceum
AWS_ACCESS_KEY=minioadmin
AWS_SECRET_KEY=minioadmin
AWS_S3_ENDPOINT_URL=http://minio:9000
AWS_S3_PUBLIC_URL=http://localhost/storage

OLLAMA_MODEL=qwen2.5:1.5b